langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-ollama
sentence-transformers
pypdf
fastapi 
uvicorn 
python-multipart
accelerate
numpy
psycopg2-binary
sqlalchemy
posthog>=3.0.0